<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sleepmonitor"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity 
            android:name="com.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateVisible">
            
        </activity>
		<activity android:name="com.TestActivity"></activity>
		<activity android:name="com.Register.RegisterActivity"
		    android:theme="@android:style/Theme.NoTitleBar"
		    android:windowSoftInputMode="stateVisible">
		</activity>
        <activity android:name="com.MainTabHost"
            android:theme="@android:style/Theme.NoTitleBar">></activity>
		<activity android:name="com.FileManager.FileManagerActivity"></activity>
		<activity android:name="com.Music.MusicPlayer"></activity>
		<activity android:name="com.AskHelp.SystemHelp"
		    android:theme="@android:style/Theme.NoTitleBar">></activity>
		<!-- 
		<activity android:name="com.Clock.AlarmActivity"></activity>
		<receiver android:name="com.Clock.AlarmReceiver" android:process=":remote"></receiver>
		<activity android:name="com.Clock.ClockAlarm"></activity>
		 -->
		<activity android:name="com.Sleep.SleepStart"></activity>
		<activity android:name="com.Sleep.SleepMonitorData"
		    android:theme="@android:style/Theme.NoTitleBar"></activity>
		
		<activity android:name="com.Sleep.BTClient"></activity>
		<activity android:name="com.Sleep.DeviceListActivity"></activity>
       	<activity  android:name="com.Music.MyFileManager"  android:theme="@android:style/Theme.Dialog"></activity>
       	<activity
            android:name="com.Music.MainActivity"
            android:label="@string/app_name" >
        </activity>
      	
       	
       	 
       	<!-- 
       	<provider android:name="com.Clock.AlarmProvider"
                android:authorities="com.Clock"
                android:exported="false" />
       	
       	
       	   
       	<activity
            android:label="@string/app_name"
            android:name="com.Clock.DeskClockMainActivity" 
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
            android:icon="@drawable/clock_launcher"
            android:launchMode="singleInstance"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation">
           
            
            
        </activity>
        
        
        
        
       	<activity android:name="com.Clock.SetAlarm" android:label="@string/set_alarm"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation" />
       	
       	<activity android:name="com.Clock.SettingsActivity"
                android:label="@string/settings"
                android:taskAffinity=""
                android:excludeFromRecents="true"
                >
        </activity>
        
       	 <activity android:name="com.Clock.AlarmAlertFullScreen"
           android:excludeFromRecents="true"
           android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
           android:launchMode="singleInstance"
           android:taskAffinity=""
           android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>

        <receiver android:name="com.Clock.AlarmReceiver">
            <intent-filter>
                <action android:name="com.Clock.ALARM_ALERT" />
                <action android:name="alarm_killed" />
                <action android:name="cancel_snooze" />
            </intent-filter>
        </receiver>
        
        
        <activity android:name="com.Clock.AlarmAlert"
            android:excludeFromRecents="true"
            android:theme="@style/alarm_alert"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>
            
        
        
        <activity android:name="com.Clock.HandleSetAlarm"
                android:theme="@android:style/Theme.NoDisplay"
                android:excludeFromRecents="true"
                android:permission="com.android.alarm.permission.SET_ALARM">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        
        <service android:name="com.Clock.AlarmKlaxon"
                android:description="@string/alarm_klaxon_service_desc"
                >
            <intent-filter>
                <action android:name="com.Clock.ALARM_ALERT" />
            </intent-filter>
        </service>
        

        <receiver android:name="com.Clock.AlarmInitReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        
         -->
        
        
        <activity android:name="com.Alarm.MainActivity"
            android:label="@string/app_name">
            
        </activity>
        <activity android:name=".AlarmActivity" />
        <!-- android:process=":remote": 新开一个进程 -->
        <receiver android:name=".AlarmReceiver" android:process=":remote"/>
         
       	
    </application>
    
    

</manifest>
